table {
    width: 100%;
  }
  .mat-row.hovered {
      background: #eee;
  }
  
  .mat-row.highlighted {
    background: #999;
  }

td {
    // border: 1px solid #ccc;
    padding: 2px;
  }
  
  th {
    // border: 1px solid #ccc;
    padding: 2px;
    // background: #eee;
}